body {
  background: #000428;
  background: url(../img/shattered-island.gif);
}
header {
  margin: 30px 0;
}
.contenido {
  padding: 20px;
}
.contenido-principal {
  background-color:#fefefe;
  padding: 30px;
  border-radius: 20px;
}
.presupuesto p {
  margin-bottom: 0;
  font-weight: bold;
}
.presupuesto p span {
  font-weight: normal;
}
#gastos {
  margin-bottom: 30px;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: white;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #004e92;
  font-size: 22px;
  margin-bottom: 30px;
}
